<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="BacktraceCredentials" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <BacktraceCredentials>
    <add key="HostUrl" value="https://yolo.sp.backtrace.io:6098/"/>
    <add key="Token" value="328174ab5c377e2cdcb6c763ec2bbdf1f9aa5282c1f6bede693efe06a479db54"/>
  </BacktraceCredentials>

</configuration>