<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BacktraceCredentials" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <BacktraceCredentials>
    <add key="HostUrl" value="https://myserver.sp.backtrace.io:6097"/>
    <add key="Token" value="4dca18e8769d0f5d10db0d1b665e64b3d716f76bf182fbcdad5d1d8070c12db0"/>
  </BacktraceCredentials>

  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>