<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="InvalidUrl" type="System.Configuration.NameValueSectionHandler"/>
    <section name="EmptyCredentials" type="System.Configuration.NameValueSectionHandler"/>
    <section name="EmptyToken" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ValidCredentials" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <InvalidUrl>
    <add key="HostUrl" value="invalidBacktraceAPIUrl"/>
    <add key="Token" value="Token"/>
  </InvalidUrl>

  <EmptyCredentials>
  </EmptyCredentials>

  <EmptyToken>
    <add key="HostUrl" value="https://backtrace.io/"/>
  </EmptyToken>

  <ValidCredentials>
    <add key="HostUrl" value="https://backtrace.io/"/>
    <add key="Token" value="Token"/>
  </ValidCredentials>
</configuration>